.main-container {
  display: flex;
  flex-direction: column;
}

.products-category-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.category-container {
  background-color: red;
  justify-self: end;
  min-height: 100vh;
}

.empty-search-text {
  background-color: yellow;
  margin: auto;
  margin-top: 0;
}

.search-container {
  align-items: center;
  background-color: green;
  display: flex;
  justify-content: center;
  padding-left: 15%;
}
