.product {
  align-items: center;
  background-color: rgb(233, 229, 194);
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  width: 20vh;
}

h1 {
  font-size: 1.5vh;
  min-height: 6vh;

}

.addcart-button {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  width: 90%;
}


.info-cart-container {
  display: flex;
  flex-direction: column;
  padding: 1vh;
  width: 90%;
}


.product img {
  border-radius: 2vh;
  height: 15vh;
  width: 10vh;
}

@media screen and ( min-width : 1000px ) {

  h1 {
    font-size: 2vh;}

  .product img {
    border-radius: 2vh;
    height: 25vh;
    width: 20vh;
  }

  .product {
    width: 30vh;
  }
}
