.product {
  align-items: center;
  background-color: rgb(233, 229, 194);
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 30%;
}

.product img {
  height: 10vh;
}
